[Unit]
Description = zookeeper
After = network.target


[Service]
Type = simple
User = root
Group = root
SyslogIdentifier = zookeeper
WorkingDirectory = /confluent
Restart = on-failure
RestartSec = 10s
ExecStart = /confluent/bin/zookeeper-server-start /confluent/etc/kafka/zookeeper.properties
ExecStop = /confluent/bin/zookeeper-server-stop
Environment="EXTRA_ARGS=-Duser.timezone=Asia/Seoul"

[Install]
WantedBy=multi-user.target